@font-face {
    font-family: 'MyUnderwood';
    src: url('../fonts/MyUnderwood.ttf');
}
@font-face {
    font-family: 'gothic';
    src: url('../fonts/got.ttf');
}
@font-face {
    font-family: 'Zah';
    src: url('../fonts/zah.ttf');
}

